@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@200;400;900&display=swap');
@import url("//cdn.web-fonts.ge/fonts/bpg-nateli/css/bpg-nateli.min.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    height: 3000px;
    background: url("../images/tbc-share-image.png");
    background-position: 30%;
    overflow-x: hidden;
    flex-direction: column;
}

.blur-bg {
    width: 100%;
    height: 3000px;
    background: rgba(36, 145, 161, 0.31);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);    
    position: absolute;
    z-index: -999;
}

a, li {
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

header {
    width: 100%;
    height: 25%;
    position: fixed;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    background: rgba(97, 97, 97, 0.096);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    z-index: 999;
}

nav {
    width: 70%;
}

ul, li {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 50px 0;
    font-weight: 400;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 10px;
    transition: .5s;
}

li:hover {
    background-color: #fafafa25;
    border-radius: 5px;
}


main {
    width: 70%;
    height: 630px;
    background: #00ffff33;
    border: 1px solid white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    position: relative;
    top: 9.5%;
    margin-bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-family: "BPG Nateli", sans-serif;
    color: #fff;
    font-size: 3rem;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}


@media only screen and (max-width: 600px) {

    header {
        height: 15%;
        border-radius: 0 0 20px 20px;
        display: grid;
        place-items: center;
    }

    ul {
        display: none;
    }

    .burger-menu {
        display: flex;
    }
    
    ul {
        display: none;
        position: absolute;
        left: 0;
        top: 50%;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        text-align: center;
        border-radius: 8px;
    }

    ul.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        margin: 20px 0;
    }

    main {
        width: 90%;
        height: 80%;
    }

    main h1 {
        font-size: 1.5rem;
    }
  }